/* i selettori seguono l'ordine della pagina HTML */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Chettan 2', cursive;
}

header {
    height: 10vh;
}

header h1 {
    text-align: center;
    padding: 25px 0;
}

.row {
    height: 45vh;
    width: 100vw;
    text-align: center;
}

.item {
    height: 83%;
    width: 25%;
    display: inline-block;
    background-color: rgba(199,199,199,0.5);
    margin: 10px 10px;
    position: relative;
    box-shadow: 10px 10px 5px #dedede;
}

.item h2 {
    margin-top: 5px;
    height: 20%;
}

.item img {
    width: 80%;
    height: 50%;
    margin-top: 5%;
}

.item p {
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100%;
}

.item i {
    display: none;
    position: absolute;
    bottom: 7%;
    left: 50%;
    color: red;
}

.item:hover i {
    display: block;
}

.item:nth-child(2) p {
    background-color: red;
}
